body {
  font-family: Arial;
  padding: 25px;
  
}
h6{
    padding: 30px,30px,30px,30px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

ul{
    display: inline;
    text-align: left;
    font-style: inherit;
    padding: 1%;
    background-color: grey
}
form{
  float: right;
  width:70%
}
i{
  text-align: left;
}
/* Header/Blog Title */
.header {
  padding: 10px;
  font-size: 15px;
  text-align: center;
  background-color: lightgreen;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 30%;
}
/* Center column */ .centercolumn{
  float: center;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 90%;
}

/* Fake image */
.fakeimg {
  width: 250%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  margin-bottom:1cm;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 10px;
  text-align: center;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}